/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

main {
  background: rgba(255, 255, 255, 0.024);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 90%;
  justify-content: center;
  margin: 10px auto;

}

section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width:768px) {
  main {
    flex-direction: row;
    width: 80%;
  }

  section {
    justify-items: flex-start;
    align-self: flex-start;
    margin-top: 40px;
    width: 50%;
  }
}